*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Ultra', serif;
    --primary-color: #268C5C;
    --secondary-color: #88BF90;
    --tertiary-color: #365E4B;
    --minium-font-size:1.6rem;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100%;
    font-size: var(--minium-font-size);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#oculto{
    display: none;
}

header{
    position: fixed;
    display: flex;
    width: 100% ;
    z-index: 1;
    justify-content: center;
    align-items: center;
    height: 10rem;
    background-color: white;
}

li{
    display: inline-block;
    margin: 0 2rem;
}

a{
    text-decoration: none;
    color: var(--secondary-color);
}

.mobile-menu{
    display: none;
}

.menu-hamburguesa{
    width: 5rem;
    display: none;
}


.nombre-seccion{
    display: none;
}

section{
    height: calc(100vh - 10rem);
    min-height: 65rem;
    margin-top: 10rem;
}

main{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 100%;
}

.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-info-picture{
    display: flex;
    flex-direction: row;
}

.container-info-picture div p{
    width: 90%;
    color: var(--tertiary-color);
    margin-top: 1.5rem;
}

.cuadro{
    position: absolute;
    width: 30rem;
    height: 30rem;
}
.cuadro-1{
    
    background-color: var(--primary-color);
    border-radius: 2rem;
    transform: rotate(40deg);
}
.cuadro-2{
    background-color: var(--secondary-color);
    border-radius: 2rem;
    transform: rotate(60deg);
}
.contenedor-cuadros-fotoperfil{
    display: flex;
    justify-content: center;
    margin-left: 5rem;
}

.contenedor-foto-perfil{
    position: relative;
    transform: rotate(-15deg);
    border: 0.5rem solid var(--secondary-color);
    border-radius: 2rem;
    overflow: hidden;
    background-color: white;
    
}

.foto-perfil{
    position: absolute;
   
    object-fit: cover;
    width: 100%;
    transform: rotate(6deg)scale(1.1)translateY(-4%);
}

h1,h2{
    display: flex;
    font-family: var(--secondary-font);
    font-weight: lighter;
}

h1{
    font-size: 4.9rem;
    color: var(--secondary-color);
}

h2{
    font-size: 7rem;
    color: var(--primary-color);
}
.container-enlaces{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8rem;
    width: 30%;
    height: 8rem;
    
}
.icono-enlace{
    width: 5rem;
    margin: 0 2rem;
}

.habilidades{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;    
}
.habilidades div{
    width: 50%;
    height: 50%;
}

.habilidades-programacion{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.habilidades-programacion :nth-child(1),
.habilidades-programacion :nth-child(2),
.habilidades-programacion :nth-child(3){
    display: inline-block;
    text-align: center;
}

.habilidades-programacion :nth-child(1){
    font-size: 7rem;
    
}

.habilidades-programacion :nth-child(2){
    font-size: 8rem;
    display: inline;
    text-align: center;
}

.habilidades-programacion :nth-child(3){
    font-size: 3.5rem;

    color: var(--tertiary-color);
}

.habilidades-diseno{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
}

.habilidades-diseno figure{
   color: var(--tertiary-color);
}

.habilidades-diseno figure{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 50%;
    width: 50%;
}

.habilidades-diseno figure img{
    height: 5rem;
}

.habilidades-software{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.habilidades-software figure img{
    width: 100%;
}

.habilidades-blandas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.habilidades-blandas p{
    padding: 1rem;
    font-family: var(--secondary-font);
    font-weight: lighter;
    font-size: 1.3rem;
}

.habilidades-blandas :nth-child(1),
.habilidades-blandas :nth-child(4){
    color: var(--tertiary-color);
}

.habilidades-blandas :nth-child(2),
.habilidades-blandas :nth-child(5){
    color: var(--primary-color);
}

.habilidades-blandas :nth-child(3){
    color:var(--secondary-color);
}



@media (max-width: 1024px){
    header{
        width: 90%;
    }

    .container-info-picture{
        flex-direction: column;
        
    }

    h1{
        font-size: 3.5rem;
    }

    h2{
        font-size: 4.8rem;
    }
    /* Se cambia el orden de la imagen y los textos en info-picture */

    .elemento1{
        display: flex;
        flex-direction: column;
        align-items: center;
        order:1;
    }

    .elemento2{
        order:0;
    }
    /* cambiar tamano cuadro foto */
    .cuadro{
        width: 20rem;
        height: 20rem;
    }
    
    .contenedor-cuadros-fotoperfil{
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .container-enlaces{
        width: 70%;
        margin-top: 3rem;
    }

    .container-info-picture div p{
        width: 90%;
    }
    
    .icono-enlace{
        width: 4rem;
        margin: 0 2rem;
    }
}

@media (max-width: 767px) {
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 5rem;
    }
    .mobile-menu{
        display: flex;
    }
    
    

    h1{
        font-size: 2.8rem;
    }

    h2{
        font-size: 4rem;
    }
    /* alinear menu hamburguesa a la derecha */

    .container-menu-namesection{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 

    .mobile-menu{
        position: absolute;
        background-color: white ;

        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 5;

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    .contenedor-cerrar{
        width:80%;
        height: 10rem;
        display: flex;
        justify-content: flex-end;
    }

    .cerrar-menu{
        width: 5rem;
        right: 0;
        cursor: pointer;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
    }

    .mobile-menu ul li{
        padding: 2rem 0;
    }

    .nombre-seccion{
        color: var(--secondary-color);
        display: block;
    }
    .menu-hamburguesa{
        cursor: pointer;
        display: block;
    }

    /* ocultar secciones */
    .secciones{
        display: none;
        }


        .habilidades div{
            width: 100%;
            height: 50%;
        }

  }